# created by virtualenv automatically
.venv
.env
.idea
__pycache__/
*.pyc
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
infra/migration/.terraform.lock.hcl
